{% extends 'base.html' %}
{% block title %}
    Home - Proto-Car
{% endblock %}
{% block banner %}
    <div style="flex: 1; width: 100%;">
        <img src='\static\carbanner.png' style="width: 100%; height: auto; display: block;">
    </div>
{% endblock %}


{% block text %}
    <div id='containerh'>
    <p id='h1'><b> Proto-Car #1 Online Car Dealer Site</b></p> 
    <br>
    <hr class='hr1'>
    <br>
 <p id='p1'>
        Proto-Car: Your Dream Car is Here

        Buying a car is not just a necessity, it's an experience. With Proto-Car, we ensure security and convenience every step of the way. Whether you're buying your first car or upgrading to your dream ride, we have the perfect options for you.

        With our wide range of vehicles, you can find the car that fits your budget and needs. Get all the details you need about your car before hitting the road, and make your purchase with secure payment options for the fastest shopping experience.

 </p>
 <a type='button' href="{{ url_for('market') }}"  style='font-size:1.2em;margin-top:10px;margin-bottom:10px;' type="button" class="btn btn-outline-primary">See cars</a>

 <br>
 <hr class='h1'>
</div>

{% endblock %}